# eclipse
bin
*.launch
.eclipse
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
runs
runserver
logs

# Visual Studio (Used in developing Docs branch)
.vs

common/src/generated/resources/