
# MobSpawnSettings class spawners field
private-f net.minecraft.world.level.biome.MobSpawnSettings spawners
# MobSpawnSettings class mob spawn costs field
private-f net.minecraft.world.level.biome.MobSpawnSettings mobSpawnCosts